// Colors
$black: #000;
$white: #fff;
$dark-gray: #666;
$cool-mysterious-blue-tinged-purple: #845fee;
$byzantine-blue: #4458dc;
$lavender-mist: #efefff;
$pale-lavender: #e5cfff;
$gray25: #404040;

// Fonts
$lekton: 'Lekton';
$lekton-bold: 'Lekton Bold';
