    <footer>
        <div class = "footer-section">
            <h5>Designed and Developed by Rishabh Diwan.</h3>
            <h4>Thanks for visiting.</h4>
        </div>
    </footer>
    {% block wp_footer %}
        {{ wp_footer() }}
    {% endblock %}
    </body>
</html>